[2015-06-23 06:09] kiranreddyzivame opened #37 "Mapping missmatch with key and content - Caching different pages for different urls"

[2015-06-23 07:33] co2-git commented on #37
Hey @kiranreddyzivame, thanks for the report. Unfortunately this project is discontinued as I don't have time for it :(
Cheers

[2015-07-15 20:23] rv-kip opened #38 "Maintenance..."
I'll maintain the project if you want to transfer to me.

[2015-07-16 02:54] co2-git commented on #38
Sure Kip! Thanks :) I'll do it right now

On Thu, Jul 16, 2015 at 3:23 AM, Kip Gebhardt notifications@github.com
wrote:

[2015-07-16 02:56] co2-git commented on #38
It says "rv-kip/express-redis-cache already exists". I guess it's your fork. What should we do? Should you delete your fork?

[2015-07-16 03:06] rv-kip commented on #38
I renamed the fork. `express-redis-cache` should be available now.

[2015-07-16 03:07] co2-git commented on #38
cool:) Also, what is your NPM username so I can make you an owner, so that you can publish any changes to the NPM repo?

[2015-07-16 03:13] co2-git commented on #38
Trying to transfer once more the Githup repo to you, now getting "rv-kip already has a repository in the co2-git/express-redis-cache network". Could it be that you have to delete your fork altogether?

[2015-07-16 16:05] rv-kip commented on #38
OK. I've deleted the fork. Give it another try.

[2015-07-16 16:06] co2-git commented on #38
done :) what is your npm username so I can give you ownership of the module in npm?

[2015-07-16 16:09] rv-kip commented on #38
rv-kip

On Thu, Jul 16, 2015 at 9:06 AM, co2 notifications@github.com wrote:

[2015-07-16 16:10] co2-git commented on #38
cool, I've added you as owner :+1:

[2015-07-16 16:13] co2-git commented on #38
well that's it on my side I think. Let me know if I'm missing something

[2015-07-16 16:19] ScheerMT commented on #38
Just came across this library. Thank you for creating this in the first place and hope to see it's stability and functionality be expanded and maintained :+1:

[2015-07-16 17:51] rv-kip commented on #38
Thanks @co2-git!

[2015-07-16 17:51] #38 closed, assigned to nobody

[2015-07-17 23:02] rv-kip commented on #37
@kiranreddyzivame, can you provide the url with params you were using when that error occurred?

[2015-08-04 21:16] #37 closed, assigned to nobody

[2015-08-07 05:42] harishbisht8 opened #40 "Cached respone as [object Object]"
I made a simple POC  with  "express": "~4.9.0",  and add following code
app.get("/", reqcache.route({ expire: 60}), function(req, res, next) {,,,}

First response is fine as it comes from my own code, but second request which is supposed to give cached response gives '[object Object]'

[2015-08-07 05:59] harishbisht8 commented on #40
Just to make things more clear when i send a response i use
res.send(json object);

[2015-09-15 19:57] sameerkat commented on #40
+1

Seeing this same issue.

[2015-09-16 06:15] harishbisht8 commented on #40
@sameer-bridg  , this issue is because res.send() first stringy the jaosn response, more detaikls please see express implemetation.

to resollve please use res.json() instead of res.send()

thanks

[2015-09-16 07:48] co2-git commented on #40
I agree with @harishbisht8: redis stores strings, not JSON objects. Yet it could be a feature request. I mean, JSON could be stringified and saved as a string in Redis. When cache is retrieved, based on the content-type (which is saved), JSON could be parsed back to JSON before being delivered to client

[2015-09-16 09:56] harishbisht8 commented on #40
thanks @co2-git  , but i have also found when using express function res.send() ,  express-redis-cache  is actually setting cache twice , please see if this problem actually exists

[2015-09-16 10:12] co2-git commented on #40
@harishbisht8 thanks for letting us know, I'll have a look

[2015-10-01 15:05] artursudnik opened #43 "cache http response code"
If for example "500" is cached, response retrieved from redis is served with "200" response code.

[2015-11-03 03:54] lasting0001 opened #46 "Hi,could I make a suggestion？"
When the cache expires,return the cache first,and then restore the cache asynchronously.In this way,the user can aways take a response quickly.Thank you~

[2015-11-03 21:46] rv-kip commented on #46
Thanks. This is an idea I've been playing with. I welcome a pull request :)

[2015-11-12 22:08] evilbuck commented on #43
:+1: on this.

[2015-11-12 22:10] evilbuck commented on #43
looks like there was work done on this here https://github.com/inthepocket/express-redis-cache/commit/a24321bf13aa20d589052e5584745e3264dd819b , though it needs tests.

[2015-11-18 22:29] harrylove opened #47 "ls command not found"
version 0.1.8

[code]

[2015-11-18 22:31] harrylove opened #48 "size command callback is not a function"
version 0.1.8

[code]

[2015-12-03 03:53] bkniffler opened #50 "use_express_redis_cache only disables storing to cache"
Hey, I noticed res.use_express_redis_cache only disables storing to the cache, but not getting from it. Wouldn't it make sense to disable read and write?

I'm looking for a solution to completely disable caching if in debug.

[2015-12-10 16:11] woubuc commented on #50
@bkniffler if it helps, this is how I implemented a `?nocache` query parameter to disable caching.

[code]

[2015-12-10 23:05] bkniffler commented on #50
Thanks @woubuc, I came to use another workaround

[code]

I couldn't think of one reason we would need such workarounds. Why not implement this behaviour into the core?

[2015-12-11 09:30] woubuc commented on #50
@bkniffler I think that's what PR #49 does. It's just a matter of waiting for @rv-kip to merge it. Either that or fork the repo and implement the fix in your fork.

[2015-12-16 04:39] rv-kip commented on #50
Fixed in v0.2.0

[2015-12-16 04:39] #50 closed, assigned to nobody

[2015-12-17 18:39] ScheerMT commented on #46
This is interesting. My first thought would be checking the time until it expires and when it is below a certain threshhold (a minute left, 30seconds, configurable time) it will goto the route that it sits behind.. it would get complicated fast

[2016-01-05 17:39] tkrugg opened #51 "Can't get binary content to be cached"
If my route returns a binary file, the cache seems to simply ignore it, [as far as I can tell](https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L180).

This module was probably written to target caching of dynamic content, not static content (which most binaries are served as). Yet there are two use cases where you might want to have caching for binary files

[2016-01-07 14:47] ghislaindj opened #52 "Type option seems to not be taken into account"
As explained here https://github.com/rv-kip/express-redis-cache#content-type I tried to use the type config to force content type.

But it doesn't work : in fact I've searched the code to understand where it's used, and it seems to be never use. I think it should be use there : https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L186

Thanks a lot in advance,

[2016-01-21 17:28] asrashley commented on #47
Changing `cache.ls` to `cache.get` fixes that problem.
I also had to install moment

[code]

[2016-02-01 13:58] Loksly opened #53 "expressRedisCacheName __fileName and __line don't exist"
There is a bug on:
https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L66
https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L102

Neither __fileName, nor __line, exist at all. The first one should be __filename and the __line doesn't exist. Check nodejs magic globals: https://nodejs.org/api/globals.html

Use expressRedisC

[2016-02-23 17:53] codeocelot opened #54 "Cache should preserve original response status code"
You've got a wonderful project here, but I notice results returned from the cache are always sent as 200, even if the original response is a 501 (Not Implemented) or what have you.

At first glance, it wouldn't be too hard to include a field in your entry model to include the original response.

Would you be open to accepting a pull request if I built out this feature?

[2016-02-27 20:47] loganfuller commented on #54
+1

[2016-02-29 19:06] co2-git commented on #54
sure, fire up your pull request! :)

On Sat, Feb 27, 2016 at 2:47 PM, Logan Fuller notifications@github.com
wrote:

[2016-03-04 16:05] artursudnik commented on #54
Here https://github.com/rv-kip/express-redis-cache/issues/43 some work already done is mentioned.

[2016-03-09 03:17] ghost opened #55 "Stop using keys"
Hey there,

In our production environment this was pretty slow (https://s.put.re/4ueAZEA.png).
You can read more details about .keys under: http://redis.io/commands/keys

On this screenshot you can see our t2.small redis cache instance cpu usage on amazon, take a look at 2:50. That's where I replaced your caching lib with a custom one that uses .get (https://s.put.re/f36CV4z.png).

Maybe your usag

[2016-03-09 05:46] lone112 opened #56 "TypeError: Cannot set property 'name' of null"
TypeError: Cannot set property 'name' of null
    at Command.<anonymous> (/home/mdladmin/source/web-chat/JavaScript/node_modules/express-redis-cache/lib/ExpressRedisCache/get.js:45:27)
    at intercepted (domain.js:258:14)
    at Command.runIntercepted (domain.js:272:12)
    at bound (domain.js:287:14)
    at Command.runBound (domain.js:300:12)
    at RedisClient.return_reply (/home/mdladmin/sourc

[2016-03-10 09:07] KaustubhYK opened #57 "Effect of caching route in redis using express-redis-cache"
It is question not issue,what we are achieving from performance perspective by caching route into redis?
I got this question because I am working on application & I am caching route.
So during development,it becomes tedious to debug as code is getting cache in redis.

[2016-03-11 20:02] co2-git commented on #57
Hey mate! You can actually disable caching when in dev: `res.
use_express_redis_cache = app.get('env');`

On Thu, Mar 10, 2016 at 3:07 AM, Kaustubh Kulkarni <notifications@github.com

[2016-04-01 01:27] kilik52 commented on #48
i've got the same issue.

[code]

gives me

[code]

error

[2016-04-14 18:29] ckeboss opened #59 "If http code expire is 0, it trys to use self.expire and ends up passing an object to redis as the expire time"
The issues lies in add.js line 48

[code]

If options.expire is 0, it eval's as a falsey value and uses self.expire instead. It should allow expire to be 0.
Creating a patch right now, will make a PR.

[2016-05-03 18:00] JADurham909 commented on #55
Second this, we had major problems from the keys call in get.js.  I have since reworked it to use scan in its place.  It was blocking the entire cache server.

[2016-05-03 18:57] rv-kip commented on #55
I agree with this. The use of `keys` predates my stewardship and it obviously has performance drawbacks. The concern I have is backwards compatibility if users expect  a request to `foo` actually means would return results `foo1`, `foo2`, etc.

There is the expectation of wildcards
https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/get.js#L30

[2016-05-03 19:13] JADurham909 commented on #55
Scan will do exactly the same function without blocking the sever with newer versions of redis.  I can post a PR when my changes are done in my fork if you wish.

http://redis.io/commands/scan

Basically you just recursively scan until all keys are retrieved and wrap it in a function to replace keys.

Sent from my iPhone

[2016-05-03 19:56] rv-kip commented on #55
Please do! Thanks @JADurham909.

[2016-05-10 22:14] dustinmartin opened #62 "Express' app.param still executes if route is cached"
Thanks for making this library! Really great stuff.

I'm running into an issue though where I have an Express param that is bound to a method that loads some data prior to the route

[code]

What I'm seeing is that even though the route is cached it still runs the param method which loads the data from the database and slows down the route.

Any ideas how to get around this? Thanks.

[2016-05-16 16:55] josh-egan-ps opened #63 "Should set the Cache-Control header"
Without the Cache-Control header, browsers will make unnecessary calls to the server to get cached data.  If the browser is aware of the cache duration, it can avoid calling the server at all until the cache is expired. This could be done by adding a header like this:

`res.setHeader('Cache-Control', 'max-age=' + options.expire + '000');`

[2016-05-16 18:47] rv-kip commented on #63
Good idea. I'm pretty busy at the moment, so I welcome a pull request :) I think the `Cache-Control` header should be a configuration option.

[2016-05-19 15:35] artursudnik opened #64 "setting res.use_express_redis_cache=false in error handler"
Hi,

Is it possible to switch off caching of error responses? Setting res.use_express_redis_cache=false in error handler has no effect because it is called after cache.route().

[2016-05-31 21:39] pswoodworth commented on #64
Hey, I believe you should be able to do this by setting TTL to 0 for all error status codes, but that's not currently working (#59).

[code]

[2016-06-21 13:40] jeanmatthieud opened #67 "Work with pipes"
It seems that express-redis-cache doesn't cache the data if res is used as a pipe (`res.send()` is never called).

For example:

[code]

[2016-06-30 16:46] #59 closed, assigned to nobody

[2016-06-30 16:48] ckeboss commented on #64
This has been resolved now @pswoodworth, so @artursudnik should be able to use this now.

[2016-07-10 13:41] jimjaeger commented on #67
Hi, any outlook for pipe support? With redis-streams module the redis client can handle streams and pipes...

[2016-07-12 17:17] hrefcl opened #68 "Cannot set property 'name' of null"
events.js:72
        throw er; // Unhandled 'error' event
              ^
TypeError: Cannot set property 'name' of null
    at Command.<anonymous> (/home/ec2-user/server/api/node_modules/express-redis-cache/lib/ExpressRedisCache/get.js:45:27)
    at Command.b (domain.js:177:20)
    at Command.b [as callback](domain.js:183:18)
    at normal_reply (/home/ec2-user/server/api/node_modules/redis/index.

[2016-07-16 15:23] simllll commented on #64
I tried this appraoch,unfortunately I still get cached results for error pages, and even worse, with a wrong  status code. the issues happens for dynamic routes. e.g.
/:city/:name
if the city is not found, the route does a "next()" which can lead to a 404..  this gets somehow cached, and next time a 200 status coe with the error page is returned.

[2016-07-22 00:44] edubart commented on #68
This error happens with me frequently too.

[code]

[2016-07-25 08:09] ImanMh opened #69 "installation issue"
When I run the `npm install express-redis-cache` command I get the following error and no directory is created in my node_modules.

[code]

[2016-07-25 19:53] rv-kip commented on #69
I believe you are running `npm install express-redis-cache` inside a directory called `express-redis-cache` which has already been provisioned with `npm init`.  Change the name of the parent directory.

[2016-07-26 04:51] ImanMh commented on #69
That was exactly it. Thanks I didn't know that.

[2016-07-26 04:51] #69 closed, assigned to nobody

[2016-08-04 20:27] bsyk commented on #55
Could the get.js file handle wildcards in the same way as del.js?
Most of the get calls in my app are for single keys.  More than 50% of the time spent in Redis (according to NewRelic) is doing the keys call.
https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/del.js#L44

[code]

[2016-08-21 22:10] connexease opened #73 "TypeError: Cannot assign to read only property 'callback' of keys"
[code]

[2016-08-21 22:10] anonrig commented on #73
+1

[2016-08-25 13:50] anonrig commented on #73
@rv-kip express-redis-cache uses redis version 2.4 that doesn't work with 2.6 on high traffic, and keeps getting us "request timeout".

[2016-08-30 22:20] emckean opened #74 "redis unavailability crashing"
Hi! The README suggests that redis unavailability won't crash the app: "Should the redis become unavailable, the express-redis-cache object will emit errors but will not crash the app. Express.js requests during this time will be bypass cache and will return fresh data."

Unfortunately, I'm not seeing this -- when I stop my local redis from running, I get

[code]

I am calling it like so, from an

[2016-09-05 12:18] Maples7 commented on #48
+1

[2016-09-05 12:19] Maples7 commented on #47
Did the commands really pass the tests?

[2016-09-29 05:00] dustinmartin opened #76 "Error when key doesn't exist"
Inside of get.js, [line 43](https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/get.js#L43), `hgetall` is used to get a value from redis. It doesn't handle the case when the key doesn't exist. If the key doesn't exist then result is null which results in the below error being thrown. It looks like `keys` is used to check if the key exists but it could expire or be delet

[2016-09-29 20:24] dustinmartin commented on #76
I've created this PR to fix this issue: #77

[2016-10-17 14:43] mepdr opened #78 "Expireat"
I need to cache entries until midnight. This constraint can be accomplished using the redis command [expireat](http://redis.io/commands/EXPIREAT), however it doesn't seem to be currently available in express-redis-cache. Is there a way to accomplish that constraint with the current release?

[2016-10-18 20:58] Arwid commented on #63
+1

[2016-10-26 14:54] Yurko-Fedoriv commented on #55
Seems like we got downtime from this. Our redis choked and it's slowlog shows incredible amount of KEYS calls.

[2016-10-26 15:39] Yurko-Fedoriv commented on #55
And this is how redis responded to replacing the original lib with fork from @bsyk
Thanks, Ben.

![image](https://cloud.githubusercontent.com/assets/1327761/19733008/5f36f432-9bab-11e6-97f3-9060bb868506.png)

[2016-10-26 16:11] bsyk commented on #55
You're very welcome. 👍
We had the same issue and results.

[2016-10-28 20:32] wellcaffeinated commented on #55
+1

[2016-11-28 18:54] valedaemon opened #79 "Prefix in cache.route not being set"
Our app needs the ability to set a dynamic cache prefix. However, whenever I call cache.route({prefix: 'blah'}) and check what prefix is being utilized, it's always 'erc:'. How can I get cache.route to correctly set a prefix?

Thanks!

[2016-11-29 00:34] corbanb commented on #62
We solve this by doing a solve of:

[code]

or the likes.

[2016-11-29 02:09] valedaemon commented on #79
I solved the issue by dynamically setting the name instead of a prefix. The fact that it doesn't seem possible to define the prefix from cache.route() appears to still be a bug, though.

[2016-12-23 10:39] zaeem-bin-rehman opened #80 "Redis Connection to localhost:6379 Failed"
I'm new Express, and just created a basic app and trying to integrate the Redis cache for Express from [npm](https://www.npmjs.com/package/express-redis-cache)

When I install and add the module in the app, and run the appp it gives the error described on the screenshot.

![screenshot_4](https://cloud.githubusercontent.com/assets/5284439/21452052/f1492bae-c925-11e6-9346-6022393e5d29.png)

Express

[2016-12-23 16:04] bsyk commented on #80
Are you running the Redis server on the same machine?
You can download it from https://redis.io/download

[2017-01-12 16:15] ghost commented on #48
+1

[2017-01-12 18:12] ghost commented on #48
#81

[2017-02-22 03:07] lasting0001 commented on #46
Thanks a lot~

[2017-03-02 16:42] madelinecameron commented on #43
Just for note, this seems broken again. :)

I came here looking for this issue. I will look into previous fixes and see if I can get you all a fix.

[2017-03-12 07:29] zaeem-bin-rehman commented on #80
@bsyk
Sorry for a very late reply, but that solved my problem.

[2017-03-15 14:43] MichaelMarkieta opened #83 "Add database index as option"
It would be useful to support multiple databases on redis instances. The database option would be an integer, 0-based, with a default of 0.

http://www.rediscookbook.org/multiple_databases.html

[2017-03-15 15:02] MichaelMarkieta opened #84 "Don't crash the app if Redis is unavailable on start"
Just like cache.route() doesn't crash the app if the Redis instance becomes unavailable, the instantiation of the cache should not crash the app if Redis is unavailable at the time of creation.

[2017-03-21 16:51] LiorRabin opened #85 "(node) warning: possible EventEmitter memory leak detected. 11 disconnected listeners added"
**Hello,**
**any help would be appreciated regarding following issue**

**I'm using express and node 4.4.6 and this is how I've initialized the module:**
`var opts = {
    host: app.config.get('redis_host'),
    port: parseInt(app.config.get('redis_port') || '6379', 10),
    prefix: app.config.get('express_redis_cache_prefix') || 'colucommunity:cache:'
  }
  console.log('cache options', opts)
  ap

[2017-03-22 09:54] danielmontenegro commented on #85
Same error here! Any help would be priceless.

[2017-03-22 09:55] LiorRabin commented on #85
@danielmontenegro does this occur on your local environment? for me it's just on AWS

[2017-03-22 10:57] LiorRabin commented on #85
Ok, so I think I found the issue I'm facing.

If I use `loadtest -n 100 -c 20 http://local.mycompany.com:8888/api/test` I get the above warning.

If I comment-out `
self.on('disconnected', function () {
  return next();
});
` the warning does not happen anymore.

Question is why need this event if checking `if ( self.connected === false || self.client.connected === false ) {
          return next(

[2017-03-23 18:34] Yurko-Fedoriv commented on #85
@LiorRabin thanks a lot, your solution helps.

[2017-03-23 18:36] Yurko-Fedoriv commented on #55
@bsyk you might want to check out #85 because you ported it in your fork

[2017-03-23 18:51] bsyk commented on #55
@Yurko-Fedoriv has the EventEmitter issue been fixed in master?  I updated my fork a few days ago.

[2017-03-23 18:55] Yurko-Fedoriv commented on #55
@bsyk nope, it's still there https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L94-L96
I had to quickly [hotfix](https://github.com/nutritionix/express-redis-cache/blob/avoid_keys_call/lib/ExpressRedisCache/route.js#L94-L96) it for myself, because it already caused us couple downtimes from servers eating up all the memory and becoming non-responsive.

Just le

[2017-03-23 19:17] bsyk commented on #55
@Yurko-Fedoriv got it. Sorry for causing you issues. If you have a work around for now, I won't update the fork, but I'll keep a close eye on the PR for #85 as well as the PR for #55

[2017-03-23 19:22] Yurko-Fedoriv commented on #55
@bsyk no worries, just wanted to let you know before it also hits you. I'm good for now.
Thanks again for fix to this one.

[2017-03-23 21:59] taysloane commented on #85
I just experienced this memory leak in production, pretty rapidly increasing RAM usage on one of our high-load servers. #86 fixed it—saved me a ton of time debugging, thanks! 🙏

[2017-03-27 15:39] sedouard opened #87 "Allow choice of redis client"
This would be much more useful for production scenarios utilizing redis sentinels if a redis client was taken as an input. This way you can use `redis` or `ioredis` client libraries as they expose similar interfaces.

[2017-05-28 21:16] wellcaffeinated opened #92 "Error: Can't set headers after they are sent."
I see your comment in route.js (took me a while to figure this out)

https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache/route.js#L85

But... how do i get rid of this error? I still don't understand quite what's going on?

[2017-06-06 21:18] robdvr commented on #55
You are welcome to use our fork until these PRs are reviewed and merged. In your `package.json`:
`"express-redis-cache": "git://github.com/SpringboardAuto/express-redis-cache#master"`

It includes:
- Memory leak fix #85 #86 (Thanks to @LiorRabin)
- Performance enhancements and other fixes #70 #55 #68 #56 (Thanks to @bsyk)
- Added default HTTP Status, and return the original response code (Thanks t

[2017-06-15 12:43] bharatzvm commented on #55
It does

[2017-06-25 21:15] magnusburton commented on #56
Just occurred for me as well.

[2017-06-30 23:14] #55 closed, assigned to nobody

[2017-06-30 23:14] #56 closed, assigned to nobody

[2017-06-30 23:14] #68 closed, assigned to nobody

[2017-07-21 16:53] weisjohn commented on #87
It looks like the README says you can do this:

[code]

[2017-07-24 07:50] Balgorn commented on #87
The problem by doing so is if you are use `ioredis` as a client ( my use case is to use redis-cluster) the middleware can`t create new cache entries and just pipes it to the next middleware.

[2017-07-24 18:00] weisjohn commented on #80
@ZaeemR please close this issue

[2017-07-27 18:25] weisjohn commented on #64
Ran into this as well, shouldn't `express-redis-cache` check after the route completes as well?

I can see here ( https://github.com/rv-kip/express-redis-cache/blob/06928aa87d084336bde4ceb4db2c6bed97a1eabd/lib/ExpressRedisCache/route.js#L74-L77 ) that we check `res.use_express_redis_cache` to bypass the cache (calling `next()`), but in the wrapped `res.send()` ( https://github.com/rv-kip/express-r

[2017-08-07 17:05] chaitanya-sabale opened #95 "View content inside the body of cache"
Is there any way through which I can see the content in the body of the cache?

Or entire cache as a JSON represenation?

[2017-08-09 14:43] chaitanya-sabale commented on #95
The following method to get all entities in the cache solved my problem!
cache.get(function (error,entries){
  if ( error ) throw error;
  console.log(entries);
})

[2017-08-09 14:43] #95 closed, assigned to nobody

[2017-09-11 23:05] luiselizondo commented on #83
This is important since I'm sharing the redis service on two different test production to save a few bucks and I'm getting shared data between environments because apparently, this module connects to the same db always

[2017-10-01 15:44] dam1 commented on #87
Take a look here https://github.com/rv-kip/express-redis-cache/pull/98

[2017-10-21 18:52] selfagency opened #99 "Error: Name can not have wildcards"
Hi,

I'm getting the error `Error: Name can not have wildcards`. My implementation looks like this:

[code]

None of the routes have wildcards, but they do have parameters, like /page/:page. Any idea what might be causing this?

Thanks

[2017-11-02 02:54] SimonSchick opened #100 "`domain` is deprecated"
You might want to drop the usage of  `domain`.

[2017-11-13 10:44] kouz75 opened #101 "Cache never expire"
Hi,
We are using express-redis-cache with aws-serverless-express 3.x on AWS Lambda (node 6.10)

I have configure the redis cache ttl to 60s for Http Status 200:

`app.use("/api/*",cache.route({expire: {200: 60, xxx: 10}}),function(req, res, next) {
    next();
});`

Most of the time, cache is refresh correctly (each 60s) but sometime, the response is cache forever.

The bug appear only on producti

[2017-11-16 14:53] LiorRabin commented on #85
fixed by #86 so closing the issue

[2017-11-16 14:53] #85 closed, assigned to nobody

[2018-01-09 01:42] #99 closed, assigned to nobody

[2018-01-10 13:43] smulder commented on #100
Yes please, this library works very well for me, but I’m not versed enough to remove it for my self and push changes.
+1

[2018-01-18 17:19] selfagency commented on #47
i'm using 1.0.0 and i just got this

[code]

[2018-03-16 20:16] zapplebee opened #106 "Is this repo abandoned?"
Looking at the PRs (specifically https://github.com/rv-kip/express-redis-cache/pull/93), there are good features and fixes that should be merged. But there's been no dialog or movement?

Is there a need for more maintainers?

[2018-03-18 21:32] rv-kip commented on #106
Definitely not abandoned. I'm quite busy and would gladly accept some help going through these pull requests.

[2018-06-12 06:59] knoxcard commented on #106
@co2-git, @rv-kip Have you appointed other contributors as collaborators?

I know it's hard handing over the keys, but we all win in the end.  I've seen numerous awesome repos turn into slow moving behemoths.

Things can always be reverted and fixed with versioning.
Here is how to do it, just providing all the info and personal perspective, just in case it's helpful.

https://help.github.com/artic

[2018-06-26 05:39] sheksushant opened #107 "not working with express flash?"
I am unable to use express flash with this repo. any workarounds?

[2018-06-26 16:17] rv-kip commented on #106
I am quite open to collaborators. I welcome anyone who wants to help. I'm very busy with the day job.

[2018-07-06 09:28] SassNinja commented on #84
Apart from not crashing the app on start, it shouldn't cause a crash if redis becomes unavailable on runtime.

After digging into the code I think `this.emit('error', error')` is the problem and should be replaced with a `console.error()`.
https://github.com/rv-kip/express-redis-cache/blob/master/lib/ExpressRedisCache.js#L85

@rv-kip what do you think abt this adjustment?
Would be great to use the

[2018-07-15 06:08] bsyk opened #108 "Init Config Commands"
Would it be beneficial to have an initialization option that would run commands against the server?
My thought is for when a Redis server is created by some launcher (so no control over redis.conf).  In this situation, it may be good to be able to run some config commands to set Redis into a given state, such as setting the `maxmemory-policy` etc, or perhaps warming the cache with values.
Opinions

[2018-07-31 21:52] krazyjakee opened #110 "Cachekey Tagging"
Feature suggestion: A "tagging" mechanism which gives you the ability to "tag" cache keys and mass invalidate. For example, if I had a movie website and each movie had an overview, review and trailer page, I could `del` the movie tag like `{ movie: 1322 }` and it would invalidate all 3 caches.

I believe this functionality is part of redis under the [SADD](https://redis.io/commands/sadd) and [SMEM

[2018-08-05 21:40] krazyjakee commented on #106
I would be happy to collaborate. We are about to test this for use with a large-scale application but need one essential feature (#110).

My first action would be to clean up issues and pull requests, then after some time is given for responses from the contributors, modernize the code with ES6 classes and finally implement the tagging feature. From there I will continue to offer support.

[2018-08-10 10:02] krazyjakee opened #113 "Replace "domain" with "domain-haven""
The `domain` node API has been deprecated. We will respect that.

[This article](https://medium.com/@the1mills/using-node-js-domains-in-production-797105a4c302) explains why this project used `domain`.

`... allows your Express server to create a domain for each request and trap any errors that occur for that request/response pair, and ensure that the response gets sent, at the very least. This pr

[2018-08-10 10:03] krazyjakee commented on #106
Ok, check the dev branch.

[2018-08-10 10:03] #106 closed, assigned to nobody

[2018-08-10 10:09] krazyjakee commented on #107
This requires an investigation to see exactly what the incompatibility is, can you help us out with more information?

[2018-08-10 10:10] krazyjakee commented on #100
https://github.com/rv-kip/express-redis-cache/issues/113

[2018-08-10 10:10] #100 closed, assigned to nobody

[2018-08-10 10:16] krazyjakee commented on #92
Paste the full error so we can understand.

My theory is that you are sending a response and then trying to change response values.

This is old so am going to close it for now.

[2018-08-10 10:16] #92 closed, assigned to nobody

[2018-08-10 10:22] krazyjakee commented on #87
Closing for now

[2018-08-10 10:22] #87 closed, assigned to nobody

[2018-08-10 11:08] #80 closed, assigned to nobody

[2018-08-10 11:09] krazyjakee commented on #84
Let's aim to have this for v2.0.0

[2018-08-10 11:11] krazyjakee commented on #43
@madelinecameron I know it's been a while, but any updates on this?

[2018-08-10 11:12] krazyjakee commented on #40
https://github.com/rv-kip/express-redis-cache/pull/66

[2018-08-10 11:12] #40 closed, assigned to nobody

[2018-08-10 11:25] krazyjakee commented on #74
#84

[2018-08-10 11:25] #74 closed, assigned to nobody

[2018-08-10 11:28] krazyjakee commented on #64
@weisjohn absolutely! please send a PR to the dev branch.

[2018-08-10 12:07] #57 closed, assigned to nobody

[2018-08-10 12:08] krazyjakee commented on #48
Solved in v2 for now

[2018-08-10 12:08] #48 closed, assigned to nobody

[2018-08-10 12:09] krazyjakee commented on #53
fixed in v2

[2018-08-10 12:09] #53 closed, assigned to nobody

[2018-08-10 12:09] #54 closed, assigned to nobody

[2018-08-10 12:09] krazyjakee commented on #51
#66

[2018-08-10 12:09] #51 closed, assigned to nobody

[2018-08-10 12:10] krazyjakee commented on #52
#66

[2018-08-10 12:10] #52 closed, assigned to nobody

[2018-08-10 12:14] krazyjakee commented on #108
@bsyk yes, PR welcome to the dev branch.

[2018-08-10 12:17] krazyjakee commented on #76
#77

[2018-08-10 12:17] #76 closed, assigned to nobody

[2018-08-10 16:59] madelinecameron commented on #43
I haven't used this library in a while so haven't been able to check up on this bug. :)

[2018-08-10 17:22] rv-kip commented on #113
Domains were added by the original author. They were the "thing" at the time. They have been deprecated. The tests may not exercise error paths sufficiently.

[2018-08-29 19:38] kryten87 commented on #84
Maybe I'm misreading the issues that earlier posters have, but I encountered this and solved it, simply by ensuring that I included:

    cache.on("error", function(error) {
      console.error("cache", error);
    });

The error listener seems to be required; without it, the application fails at startup. Perhaps this just needs to be clarified in the documentation?

[2018-08-30 07:15] SassNinja commented on #84
I don't get any error on startup and I don't have such an event listener defined.
But I've tried it anyway: unfortunately the error still remains.
My app crashes when I kill the redis server while it's running.

[2018-09-04 14:32] yaozhixing opened #114 "Why does my cache do not work？"
Why does my cache do not work? Do not support the SuperAgent pipe pipeline? What's going on?

[2018-10-05 21:42] mjgs commented on #79
I got this working using this code:

[code]

Loading http://localhost:8080/test results in the db entry:

[code]

[2018-10-07 16:00] mjgs opened #115 "Cache always skipped when redis client created earlier is specified"
When I pass a redis client I created earlier as an option the cache is always skipped.

Looking into the code the cache is always skipped when this.connected === false:

[code]

This is actually the default value, which gets updated when the 'connect' event happens:

[code]

But since the 'connect' event happened earlier, this.connected never gets set correctly and so the cache is always skipped.

[2018-11-28 09:46] Spasfonx opened #116 "New release planned ?"
Hello, new releases are planned for the lib ? I need one new feature merged on master long time ago but no releases are coming 😞 https://github.com/rv-kip/express-redis-cache/commit/df4ed8e057a5b7d41d894e6e468f975aa62206f6

There is still people who taking care of this repo ?

[2018-11-30 17:19] kevinkuchar commented on #116
Just want to chime in and say I'm also hoping for a new release soon! The status code updates merged a few months back would be super helpful!

[2018-12-12 00:28] kibernetika commented on #84
SassNinja  look at Kryten0807 comment

[2018-12-14 20:38] artursudnik commented on #116
Please release!

[2019-01-08 09:31] SassNinja commented on #84
Seems another redis package was also crashing the app when it became unavailable.
That's why I thought it's not working.

I can confirm it's working as described by @Kryten0807
Once you've defined an error listener the app doesn't get crashed anymore if redis becomes unavailable.

However I agree the docs should be clearer and mention this.

[2019-01-25 22:07] abulvenz commented on #101
Hi @kouz75 ,

I experienced the same problem. On my machine it occurred after I
introduced the `expire` option. All pages that had been cached before
are still never expiring.

For me a total erasure of all affected objects in the database was the solution.

[2019-04-22 13:38] jordancue commented on #64
What ended up happening with this issue? Are error results still being cached?

[2019-05-14 13:47] jake-lambert-volusion commented on #116
+1

[2019-05-18 18:27] arifmahmudrana opened #117 "How to add headers"
Hi
Thanks for your awesome package. I have below code

[code]
But when the cache responses it doesn't add the ```Cache-Control``` & ```Last-Modified``` headers as I see your code I didn't find any workaround any suggestion or do you have any plans to add headers rather saving parts like content type.

[2019-07-01 14:02] MaraZ1 commented on #43
This is broken again! Please fix it. :-)

[2019-07-01 14:24] madelinecameron commented on #43
The branch or the project? Just want to know if my branch broke. I haven’t used this in a while. 😅

[2019-07-14 21:38] artursudnik opened #118 "Deprecated use of _headers"
When executed with nodejs v12, triggers deprecation warning: "[DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"

The reason of it is here:
https://github.com/rv-kip/express-redis-cache/blob/df4ed8e057a5b7d41d894e6e468f975aa62206f6/lib/ExpressRedisCache/route.js#L201

[2019-08-01 07:11] kwent commented on #116
@rv-kip I think it's about time =) How can we help ?

[2019-09-04 11:17] amanjaggaPracto opened #119 "Questiion. Does expriry option gets reset when cache is served to the user?"
In the expire option, you can specify a time frame to delete a cache entry. I assume that time starts from when the cache entry is created but does it get reset when the request is served from the cache?

Ex
 1st request -> cache created -> expires after 60 sec

After 30 sec
2nd request -> cache already there -> served from cache -> what would be the remaining time for the cache to expire

30 sec

[2019-09-17 12:45] AmaelN opened #121 "Module not found: Error: Can't resolve 'hiredis' in ./node_modules/redis-parser/lib/hiredis.js"
That's an issue with how redis-parser used hiredis. This issue can be solved by upgrading to redis-parser 3.0, which solves exactly this issue.
Need to upgrade the packages

[2020-05-15 05:20] lindes opened #124 "binary option is undocumented"
I was just helping someone try to set up `express-redis-cache` for a web app they're developing that uses an API to do text-to-speech and generate mp3 files.  The API has rate limiting, so we wanted to set up caching.  This seemed like a perfect solution, and indeed it works well -- once we knew we needed the `binary` option in our `cache.route` call.

Could you please add something to the main re

[2020-05-23 19:49] mayconmesquita opened #125 "DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"
Node version 12 deprecated **OutgoingMessage.prototype._headers**, which is used to create cache route.

The line using `this._headers`:
`./node_modules/express-redis-cache/lib/ExpressRedisCache/route.js:200:30`

Instead of using `this._headers`, we need to use `obj.getHeaders()` to get the headers object.

So we should replace the property name `._headers` with the function `.getHeaders()`. Same

[2020-05-23 21:35] mayconmesquita commented on #118
Issue with more details: (#125)

I opened a pull request solving this issue (#126).

[2020-05-23 22:04] mayconmesquita commented on #116
@Spasfonx @kevinkuchar  @artursudnik @jake-lambert-volusion @kwent

I'm releasing all previous fixes (plus avoid deprecation warning @ node v12+), on a separated package:

https://www.npmjs.com/package/express-redis-cache-next

[2020-05-28 21:56] iplanwebsites commented on #79
Got the same bug :(
Going with the same workaround.

[2020-07-04 23:35] Kaivaan opened #127 "feature request Timeleft counter instead of just blocking it without knowing the next window"

[2020-10-24 01:14] ghost commented on #125
Is there any update to this?

[2021-01-29 09:16] mebibou opened #129 "Problem with deleting entries"
I want to add a route that can be used to delete a cache entry, so that next time that specific cache route is called it will re-fetch the content.

However, it doesnt really work:
1. I call the route `/get/foo` that is `cached` for 1h
2. I delete the entry `/get/foo`: `cache.del('/get/foo')`. The callback return value says `1`: OK
3. I call the route `/get/foo` again, strangely the response code

[2021-02-18 09:51] ElectronSz commented on #125
Is there any updates guys?

[2021-03-07 14:47] golmansax opened #130 "Thoughts on removing 'redis' as a dependency?"
Hi, as a follow-up to https://github.com/rv-kip/express-redis-cache/pull/98, what are your thoughts on removing 'redis' as a dependency?

The reason I ask is that this is the only package in our production repo that has 'redis' as a dependency.

Thanks!

[2021-06-29 12:18] talkquazi commented on #83
For anyone viewing this years later Just use a redis client and set the db there and then pass the client to express-redis-cache
[code]

[2021-07-17 13:09] rawpixel-vincent commented on #63
It should definitely be a new opt in configuration option, there is valid use case where you'd want to have the redis cache but not set the cache-control header

[2021-07-17 13:15] rawpixel-vincent opened #132 "Feature: Add a configuration option to have a `redis-cache-status:Hit|Miss` header in the response"
It would be useful to have an option to produce a header with the status of the cache in the response, although it's probably something you'd want in the local / staging environment but not in production - or anyone should be able to opt in for that option given what they want.

[2021-07-17 13:41] rawpixel-vincent commented on #132
PR: https://github.com/rv-kip/express-redis-cache/pull/133

[2021-07-17 13:57] rawpixel-vincent commented on #63
submitted the PR https://github.com/rv-kip/express-redis-cache/pull/134
that add an option to opt-out of this behaviour,
also fixed the cache-control header to handle different expiration based on the response status code

[2021-07-17 14:15] rawpixel-vincent opened #135 "2.0 release plan"
I'm up to help to get out a new version of this library, the last commit was 3 years ago and still some people using this library, my thought is to get a new major release out as soon as possible, with as less as possible breaking changes to address the current issues, then focus on a new major release for the long term.

Here is my thought for the 2.0 release:
- triage the opened issue and flag a

[2021-07-17 14:59] rawpixel-vincent commented on #130
makes sense, the library shouldn't require as a dependency, it could be added as an optionalDependencies in the package.json along other supported redis library if any, this need to be tested, and need to be worked out for the integration tests, so possibly also needed in the devDependencies.
PR welcomes if possible

[2021-07-17 15:09] rawpixel-vincent commented on #135
I have no clue, but going through some issues, I can see some desperation, I'll give it a try to flag all contributors listed in the readme, in case someone can help to contact and unlock this repository.
Let's resurrect that repo !!
@faceair
@rv-kip
@amaurigabriel
@benmcmeen
@pwmckenna
@mattberther
@RSNara

[2021-07-17 15:35] rawpixel-vincent commented on #119
it would be 30 seconds as I hope you expect, if you want your cache to last longer, simply set the expiration to a longer value.
If a page is requested every 30 seconds for a page that expire after 60 seconds and that library will change the expiration cache to 60 seconds after every request you will end up with a page that never renew.

Although there's an interesting thought here, there could be

[2021-07-17 15:38] rawpixel-vincent commented on #129
304 means the content has not been modified, your issue is most likely not related to this library but to either a CDN in front of your origin, or the browser cache behavior, look into your http cache-control handling and into any CDN setup in front of your origin servers

[2021-07-17 15:38] mebibou commented on #129
I'm doing this in Postman

[2021-07-17 15:42] rawpixel-vincent commented on #116
@mayconmesquita can you provide a link to the github repository holding the code of that package? the package.json / npm informations redirect to this repository, or have you just pushed the master branch of this repo to npm 🤔

[2021-07-17 15:51] rawpixel-vincent commented on #106
Hello, 3 years later :), here to offer some helps as well, very happy with @krazyjakee and others efforts on the dev branch and would like to help give the last push towards a new release.

[2021-07-17 15:55] rawpixel-vincent commented on #129
I believe postman would respect browser cache behavior 🤔
I can confirm after checking, currently working on this code base, that this library does not modify the status code response in any way, I might miss something but look into any middleware you have.
Can you share the request/response headers (before and after cache hit) ?

[2021-07-18 00:05] mayconmesquita commented on #116
@rawpixel-vincent Sure. It's here: https://github.com/mayconmesquita/express-redis-cache-next

[2021-08-30 13:57] rawpixel-vincent commented on #135
I haven't got much feedback so i decided to went the hard road of a 2.0 on a fresh fork - I'm targeting an alpha by next week which would be just the current pending PR merged into master and working - then it's a road to 2.0 with a decent test coverage for the existing feature.
and then well ... then if it happens - works towards 3.0 with breaking changes for the best.
anyone willing to help plea

[2021-08-30 13:58] rawpixel-vincent commented on #135
https://github.com/rawpixel-public/express-redis-middleware

[2021-10-05 19:15] gnurag commented on #101
@rawpixel-vincent It would be great if we can add this issue to 2.0 release plan too.

[2022-04-27 06:26] demsking commented on #130
`redis` should me moved to the `peerDependencies` as it's used as the main dependency by `express-redis-cache`

[2022-10-04 22:54] connorpwilliams opened #139 "Update Redis Version"
`npm audit` identifies a vulnerability

[code]

running npm audit fix is not fixing the issue.